<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>welcome Xterm!</title>
  <link rel="stylesheet" href="http://oss.bstu.cn/images/x/xterm.min.css" />
  <link rel="stylesheet" href="http://oss.bstu.cn/images/x/index.css" />
  <script src="http://oss.bstu.cn/images/x/jquery.min.js"></script>
  <script src="http://oss.bstu.cn/images/x/xterm.min.js"></script>
  <script src="http://oss.bstu.cn/images/x/fit.min.js"></script>
</head>

<body>
  <div class="page-container">
    <div class="terminal-container"></div>
    <div class="info-overlay">
      <div class="info-box"></div>
    </div>
  </div>
  <script>
    /* 封装 WebSocket 实例化的方法  */
    var CreateWebSocket = (function () {
      return function (urlValue) {
        if (window.WebSocket) return new WebSocket(urlValue);
        if (window.MozWebSocket) return new MozWebSocket(urlValue);
        return false;
      }
    })();
    /* 实例化 WebSocket 连接对象, 地址为 ws 协议 */
    $.ajax({
      url: '/blog/create',
      success: function (res) {
        var webSocket = CreateWebSocket("wss://api.bstu.cn/blog/connection/" + res);
        /* 接收到服务端的消息时 */
        webSocket.onmessage = function (msg) {
          /* 写到term */
          term.write(msg.data)
        };
        /* 关闭时 */
        webSocket.onclose = function () {
          console.log("关闭连接");
        };
        /* 关闭消息 */
        // webSocket.close();

        Terminal.applyAddon(fit)
        var term = new Terminal({ rendererType: "canvas" });
        // new fit(term);
        // console.log(fit);

        term.setOption("fontSize", 16);
        term.setOption("cursorBlink", true);
        term.open(document.querySelector('.terminal-container'));

        term.fit();

        term.write('\x1b[1;36mwelcome \x1b[1;31mXterm\x1b[1;36m!\x1b[0m\r\n');
        /* 打开窗体 */
        // term.open(document.getElementById('terminal'));
        /* 发送消息 */
        term.onData(data => {
          webSocket.send(data);
        });
      }
    })
  </script>
</body>

</html>